@import url('https://fonts.googleapis.com/css?family=Charmonman:700');

#wrapper{
	max-width: 500px;
	height: 1100px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: url("../worship/player.jpg")center/cover no-repeat;
	background-size: contain;
	background-position: 100% 78%;
	margin:25px auto;
	border-radius: 10px;
	border:#666 solid 2px;
	font-family: Charmonman;
	 font-size: 1.2rem;
	 
	 
}

body{
  font-family: helvetica;
  font-size: 17px;
  line-height: 1.6;
}

.displaySongs
{
  background: #A9354F;
  color:#fff;
  text-align:center;
 padding: 10px;
text-transform: uppercase;
 font-size: 1.5em;
text-decoration: none;
}

.container-fluid{
  margin-top: 5%;
}

.modelBtn{
 background: coral;
 border:0;
 color:#fff;
 padding:1rem 2rem;

}

.modelBtn:hover{
  cursor: pointer;
  background: #333;
}

.model{
   display: none;
   position: fixed;
   left:0;
   top:0;
   width:100%;
   height:100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
   overflow: auto;
}

.modelContent{
  background: #F4F4F4;
  margin: 20% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: modelOpen 1s;
  
}

.modelHeader h2{
  margin:0;
}

.modelHeader{
  background: coral;
  padding:15px;
  color:#fff;
}

.modelBody{
  padding:10px 20px;
}

.modelBody div#addedSongs{
  color: rgb(15, 130, 165);
 cursor: pointer;	
}

.modelBody div#addedSongs p:hover{
  color: #333;
  cursor: pointer;
}

.modelFooter h3, p{
  margin: 0;
}

.modelFooter{
  color:#fff;
  text-align: center;
  padding:10px;
  background: coral;
}
.closeBtn{
  float:right;
  font-size: 30px;
  color:#fff;
  
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  cursor: pointer;
  text-decoration: none;

}

@keyframes modelOpen{
     0% {opacity: 0}
     100% {opacity: 1}
}

.audio-cover{
	
	height:300px;
	position: relative;
	margin-bottom: 15px;
    overflow: hidden;

}

.cover{
 width:100%;
 min-height:300px;
 max-height:500px;
  z-index:1;
 border-radius: 10px 10px 0 0;
}

.audio-info{
	text-align: center;
	color:#fff;
	padding:20px;
}

#audio-volume, #progress{
	color:#fff;
	display: flex;
	text-align: center;
	width:90%;
	margin: -19px auto;
	align-items: center;
}

#audio-volume{
 margin-top: -30px;
}

#progress{
width:100%;
}

.progressSlider{
  cursor:pointer;
  margin-right:75px;
  max-width: 100%;
  margin-top: -0px;
}

.duration{
  position: relative;
  left:380px;
}

.currentTime{
  position: relative;
  left:25px;
}

input#volume{
 margin-top: -2px;
 width:100%;
 outline: none;
 cursor:pointer;
 -webkit-appearance:none !important;
 height:10px;
 background: #ccc;
 
}

input#volume::-webkit-slider-thumb{
 -webkit-appearance:none !important;
width: 20px;
 height:20px;
 background:url(../worship/knob.png) no-repeat;
 background-size: 20px;
}

input[title]{
	width:100%;
 
}




#audio-buttons{
	width:100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
}

#prev,#play,#stop,#next,#pause,#loop{
	height:80px;
	width:80px;
	border:none;
	outline: none;
	cursor:pointer;
	position: relative;
}

#prev{
	background: url("../worship/prev.png")center no-repeat;
	
	left:35px;
}

#play{
	background: url("../worship/play.png")center no-repeat;
	
	left:15px;
}

#pause{
	background: url("../worship/pause.png")center no-repeat;
	
	left:15px;
}

#stop{
	background: url("../worship/stop.png")center no-repeat;
	
}

#next{
	background: url("../worship/next.png")center no-repeat;
	
	right:20px;
}

#loop{
  background: #626262;
  color:#fff;
  border-radius: 10px;
  width:55px;
 right: 35px;
}

.style{
	background: #666666;
	border-radius: 5px;
}

#playList{
	list-style-type: none;
	padding: 50px 0 0px 20px;
    width:95%;
}

#playList li{
	cursor:pointer;
	padding: 0px 10px 0px 10px;
	
	color:#fff;
     font-size: 1.4rem;
     transition: 0.5s;
}


#playList li:hover{
	color:#0380DD;
	padding-left:25px;
	
}


.song-info{
	display: none;
	
}

body{
	padding:0;
	margin:0;
    background: url("../worship/hillsong.jpg") ;
	background-position: 0% 50%;
	background-size:contain;
	color:#fff;
}

footer{
	background:#333;
	height:50px;
	line-height: 55px;
	text-align: center;

}


#search{
 display: inline-block;
  margin-top: 100px;
  margin-left:50px;
  margin-right: auto;
  width:80%;
  padding:12px;
  font-size:16px;	
  border-radius: 15px;
  border:none;
  outline: none;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.953)
}
