@import url('https://fonts.googleapis.com/css?family=Charmonman:700');
#wrapper{
	max-width: 500px;
	height: 1100px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: url("../worship/player.jpg")center/cover no-repeat;
	background-size: contain;
	background-position: 100% 78%;
	margin:25px auto;
	border-radius: 10px;
	border:#666 solid 2px;
	font-family: Charmonman;
	 font-size: 1.2rem;
	 
	 
}

nav{
  margin: 30px 0;
}




.audio-cover{
	
	height:300px;
	position: relative;
	margin-bottom: 15px;
    overflow: hidden;

}

.cover{
 width:100%;
 min-height:300px;
 max-height:500px;
  z-index:1;
 border-radius: 10px 10px 0 0;
}

.audio-info{
	text-align: center;
	color:#fff;
	padding:20px;
}

#audio-volume, #progress{
	color:#fff;
	display: flex;
	text-align: center;
	width:90%;
	margin: -19px auto;
	align-items: center;
}

#audio-volume{
 margin-top: -30px;
}

#progress{
width:100%;
}

.progressSlider{
  cursor:pointer;
  margin-right:75px;
  max-width: 100%;
  margin-top: -0px;
}

.duration{
  position: relative;
  left:380px;
}

.currentTime{
  position: relative;
  left:25px;
}

input#volume{
 margin-top: -2px;
 width:100%;
 outline: none;
 cursor:pointer;
 -webkit-appearance:none !important;
 height:10px;
 background: #ccc;
 
}

input#volume::-webkit-slider-thumb{
 -webkit-appearance:none !important;
width: 20px;
 height:20px;
 background:url(../worship/knob.png) no-repeat;
 background-size: 20px;
}

input[title]{
	width:100%;
 
}




#audio-buttons{
	width:95%;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
}

#prev,#play,#stop,#next,#pause{
	height:80px;
	width:80px;
	border:none;
	outline: none;
	cursor:pointer;
	position: relative;
}

#prev{
	background: url("../worship/prev.png")center no-repeat;
	
	left:50px;
}

#play{
	background: url("../worship/play.png")center no-repeat;
	
	left:15px;
}

#pause{
	background: url("../worship/pause.png")center no-repeat;
	
	left:20px;
}

#stop{
	background: url("../worship/stop.png")center no-repeat;
	
	right:15px;
}

#next{
	background: url("../worship/next.png")center no-repeat;
	
	right:50px;
}

.style{
	background: #666666;
	border-radius: 5px;
}

#playList{
	list-style-type: none;
	padding: 50px 0 0px 20px;
    width:95%;
}

#playList li{
	cursor:pointer;
	padding: 0px 10px 0px 10px;
	
	color:#fff;
     font-size: 1.4rem;
     transition: 0.5s;
}


#playList li:hover{
	color:#0380DD;
	padding-left:25px;
	
}


.song-info{
	display: none;
	
}

body{
	padding:0;
	margin:0;
    background: url("../worship/hillsong.jpg") ;
	background-position: 0% 50%;
	background-size:contain;
	color:#fff;
}

footer{
	background:#333;
	height:50px;
	line-height: 55px;
	text-align: center;

}


#search{
 display: inline-block;
  margin-top: 100px;
  margin-left:50px;
  margin-right: auto;
  width:80%;
  padding:12px;
  font-size:16px;	
  border-radius: 15px;
  border:none;
  outline: none;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.953)
}

  

